.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.wrapper__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 70px;
  background-color: rgb(215, 215, 215);
}

#counter {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(83, 157, 255);
  color: #ffffff;
  width: 98px;
  height: 48px;
  border: 1px #000 solid;
  border-radius: 2px;

  font-size: 25px;
  font-weight: 800;
}

#incrementer {
  width: 100px;
  height: 50px;

  font-size: 25px;
  font-weight: 600;
}

h1,
h2 {
  text-align: center;
}

body {
  font-family: "Roboto";
  font-size: 18px;
  margin: 8px 20px;
}

a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(83, 157, 255);
}

a:hover {
  font-weight: bold;
  color: rgb(53, 139, 253);
}
